<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaBtJHy0aHF9oF_rmJjnZViGuIEI7i3kw</string>
	<key>GCM_SENDER_ID</key>
	<string>807920090403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sociallApp</string>
	<key>PROJECT_ID</key>
	<string>sociall-app-b7268</string>
	<key>STORAGE_BUCKET</key>
	<string>sociall-app-b7268.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807920090403:ios:ab0a736782374c05eda096</string>
</dict>
</plist>